# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/my-app/dist
/my-app2/dist
/my-parcel/dist
# dependencies
/my-app/node_modules
/my-app2/node_modules
/my-parcel/node_modules
# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/my-app/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
